altgraph==0.17
asgiref==3.2.10
beautifulsoup4==4.9.0
blis==0.4.1
boto3==1.16.2
botocore==1.19.2
catalogue==1.0.0
certifi==2020.4.5.1
chardet==3.0.4
click==7.1.2
cycler==0.10.0
cymem==2.0.3
DateTime==4.3
dj-database-url==0.5.0
Django==3.1.1
django-heroku==0.3.1
django-storages==1.10.1
future==0.18.2
gunicorn==20.0.4
idna==2.9
jmespath==0.10.0
joblib==0.16.0
kiwisolver==1.2.0
matplotlib==3.2.1
murmurhash==1.0.2
numpy==1.18.2
pefile==2019.4.18
Pillow==7.2.0
plac==1.1.3
preshed==3.0.2
psycopg2==2.8.6
PyInstaller==3.6
pyparsing==2.4.6
python-dateutil==2.8.1
pytz==2020.1
pywin32-ctypes==0.2.0
regex==2020.7.14
requests==2.23.0
s3transfer==0.3.3
six==1.14.0
soupsieve==2.0
spacy==2.3.2
sqlparse==0.3.1
srsly==1.0.2
thinc==7.4.1
tqdm==4.48.0
urllib3==1.25.9
wasabi==0.7.1
whitenoise==5.2.0
zope.interface==5.1.0